* {
    box-sizing: border-box;
}

body {
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

/* HIDE */
hgroup h2,
#about h3,
.experience-institution {
    display: none;
}

hgroup {
    /* display: inline-block; */
    border-bottom: solid 1px #ccc;
}

header figure {
    float: right;
    position: relative;
    top: -60px;
    transform: rotateZ(-15deg);
}

figure img {
    height: 110px;
    width: 110px;
}

#about p {
    width: 70%;
    font-style: italic;
    color: rgb(126, 126, 126);
}

h3 {
    font-style: italic;
}

#competencies {
    width: 100%;
}

.skills-primary {
    grid-row: 1;
    align-items: flex-end;
}

.skills-secondary {
    grid-row: 2;
}

.skills-primary,
.skills-secondary {
    display: flex;
    grid-column: 2/11;
}

.skills-primary .skill {
    color: #fff;
    width: 150px;
    height: fit-content;
    background-color: #0e8080;
    padding: 15px;
    margin: 5px;
}

.skills-secondary .skill {
    color: #fff;
    width: 150px;
    height: fit-content;
    background-color: #0e8080;
    padding: 10px;
    margin: 5px;
    padding-left: 5px;
}


#experiences,
#education,
#competencies,
#hobbies {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(80px, auto);
    gap: 10px;
}

#experiences h3,
#education h3,
#competencies h3,
#hobbies h3 {
    grid-column: 1/2;
    grid-row: 1/3;
    border-right: 3px solid #000;
    min-width: 140px;
}

div.experience:first-of-type {
    grid-column: 2 / 11;
    grid-row: 1;

}

.experience:last-child {
    grid-column: 2 / 11;
    grid-row: 2;
}

.experience {
    position: relative;
    padding-left: 5px;
}

.experience-details {
    position: absolute;
    top: 10px;
    right: 0;
    color: rgb(158, 158, 158);
}

.experience-type,
.experience-date-separator {
    color: #178787 !important;
    font-weight: bolder;
}
.experience-location::before {
    content: 'In';
}
.experience-date::before {
    content: 'On';
}



.contacts dt,
.contacts dd,
.contact-skype,
#contact h3 {
    display: none;
}

.contacts {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.contact {
    background-repeat: no-repeat;
    height: 80px;
    width: 130px;
    background-size: contain;
    margin: 20px;
}

.contact-email {
    background-image: url(../images/email.png);
}
.contact-phone {
    background-image: url(../images/phone.png);
}
.contact-github {
    background-image: url(../images/github.png);
}
.contact-facebook {
    background-image: url(../images/facebook.png);
}

.skill {
    position: relative;
}

.skill[data-skill='1']::after,
.skill[data-skill='2']::after {
    content: '★';
    position: absolute;
    right: 5%;
}

.skill[data-skill='3']::after,
.skill[data-skill='4']::after {
    content: '★★';
    position: absolute;
    right: 5%;
}

.skill[data-skill='5']::after,
.skill[data-skill='6']::after {
    content: '★★★';
    position: absolute;
    right: 5%;
}

.skill[data-skill='7']::after,
.skill[data-skill='8']::after {
    content: '★★★★';
    position: absolute;
    right: 5%;
}

.skill[data-skill='9']::after,
.skill[data-skill='10']::after {
    content: '★★★★★';
    position: absolute;
    right: 5%;
}

.hidden-img {
    opacity: 0;
    width: 80px;
}

@media (max-width:970px) {
    #about p {
        width: 100%;
    }

    header figure {
        display: none;
    }

    #experiences,
    #education,
    #competencies,
    #hobbies {
        display: initial;
    }

    #experiences h3,
    #education h3,
    #competencies h3,
    #hobbies h3 {
        border: none;
        border-bottom: 2px solid;
        width: max-content;
    }

    .experience-details {
        position: static;
        text-align: end;
    }

    .content {
        padding-left: 3%
    }

    .contacts {
        width: 80%;
        flex-wrap: wrap;
    }

    .contact {
        width: 80px;
    }

    .skills-primary .skill {
        width: 30%;
        max-width: 150px;
        font-size: max(7px,2.5vw);

    }

    .skills-secondary .skill {
        width: 30%;
        max-width: 150px;
        font-size: max(7px,2vw);
    }
}